@font-face {
  font-family: "iconfont"; /* Project id 3182515 */
  src: url('//at.alicdn.com/t/font_3182515_zrv2rb5lmsb.woff2?t=1645516221676') format('woff2'),
       url('//at.alicdn.com/t/font_3182515_zrv2rb5lmsb.woff?t=1645516221676') format('woff'),
       url('//at.alicdn.com/t/font_3182515_zrv2rb5lmsb.ttf?t=1645516221676') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-Warning:before {
  content: "\e613";
}

.icon-icon_unchecked:before {
  content: "\e639";
}

.icon-icon_checked:before {
  content: "\e643";
}

.icon-iconmsg:before {
  content: "\e64b";
}

.icon-icon_user:before {
  content: "\e674";
}

.icon-arrow-right:before {
  content: "\e622";
}

.icon-arrow-left:before {
  content: "\e624";
}

.icon-denglu-copy:before {
  content: "\e63a";
}

.icon-shouji:before {
  content: "\e692";
}
